<h2 mat-dialog-title></h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="titre" formControlName="titre">
  </mat-form-field><br>
  <!-- <mat-form-field>
    <input matInput placeholder="DateDebut" formControlName="dateDebut">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="DateFin" formControlName="dateFin">
  </mat-form-field><br> -->
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="dateDebut" placeholder="Start date">
      <input matEndDate formControlName="dateFin" placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Lieu" formControlName="lieu">
  </mat-form-field><br>


</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
